@model Accounting.Areas.Accounting.Models.Expense

@{
	View.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
	@using (Html.BeginForm()) {
		@Html.ValidationSummary(true)
		
		<fieldset>
			<legend>Fields</legend>

			@Html.EditorFor(model => model)

			<p>
				<input type="submit" value="Save" />
			</p>
		</fieldset>

	}

	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>


